<style>
    .column-elipsis {
        overflow: hidden; 
        white-space: nowrap; 
        text-overflow: ellipsis;
    }
    .div_file_block{
        width:72px;
        height:90px;
        display:inline-block;
        padding:2px;
        margin:5px;
    }

    .file_state{
        position: absolute;
        width: 72px;
        background-color: #cccccc;
        margin-top: 30px;
        text-align: center;
        font-size: 12px;
        color: red;
        position:absolute;
    }
</style>
<div style="margin-top:15px;padding:5px;">
    <!--<div class="div_file_block" >
        <img style="position:absolute;margin:-5px 0px;width:15px;height:15px;" src="~/images/delete.png" />
        <p class="file_state">待上传</p>
        <img src="~/images/unknown_type.png" style="width:72px;height:72px;margin-top:3px;" title="添加文件" onclick="addImage();" />
        <p class="column-elipsis" style="margin-top:-6px;text-align:center;">文件名称111</p>
    </div>-->
    <div id="upload_add" class="div_file_block" style="margin-top:10px;">
        <img src="~/images/add_img.png" style="width:72px;height:72px;position:absolute;" title="添加文件" onclick="addImage();" />
        <input type="file" class="filess" style="opacity: 0;display:none;"/>
    </div>
</div>
<script type="text/javascript" src="~/js/utils/tools.js"></script>
<script type="text/javascript" src="~/js/shared/_uploadFileControl.js"></script>