@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
	<title>川谷综合管理系统</title>
    <link rel="stylesheet" type="text/css" href="~/css/login/index.css">
    <script type="text/javascript" src="~/lib/jquery-easyui-1-5-4-2/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/login/index.js"></script>
</head>
<body>
    <form id="form1" action="/Public/UploadFileStream" enctype="multipart/form-data" method="post" name="form1">
        <input name="fileinput" type="file" />
        <input type="submit" value="提交" /> 
    </form>
</body>
</html>